<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users index</title>
</head>
<body>
    <h2>Current users:</h2>
    <% for (let u of users) { %> 
        <ul>
            <li> 
                <p> <%= u.firstName %> <%= u.lastName %> </p>
                <button><a href="/users/<%=u.userId%>">See details</a></button>
                <form action="/users/<%=u.userId%>?_method=DELETE" method="POST">
                <button>Delete</button>
                </form>
            </li>
        </ul>
    <% } %>
    
    <button><a href="/users/new"> Add a new user </a></button>
    
</body>
</html>